# Ignore everything
*

# But not these files...
!.gitignore
!*.el
!*.org
!*.md
!*.go
!*.yasnippet

# ...even if they are in subdirectories
!artifacts
!ack
!custom
!langs
!mysnippets
!fundamental-mode
!org-mode
!solutions
!foreign

communications.el
ejc-databases.el
.mc-lists.el
