# Ignore everything
*

# But not these files...
!.gitignore
!*.el
!*.org
!*.md
!*.go

# ...even if they are in subdirectories
!artifacts
!custom
!launcher
!solutions
!foreign

communications.el
ejc-sql-conf.el
.mc-lists.el
