# Ignore everything
*

# But not these files...
!.gitignore
!*.el
!*.org
!*.md
!*.go
!*.yasnippet

# ...even if they are in subdirectories
!artifacts
!custom
!launcher
!solutions
!foreign

communications.el
ejc-databases.el
.mc-lists.el
