[submodule "artifacts/slime-repl-ansi-color"]
	path = artifacts/slime-repl-ansi-color
	url = https://github.com/enriquefernandez/slime-repl-ansi-color.git
[submodule "popup-el"]
	path = artifacts/popup-el
	url = https://github.com/kostafey/popup-el
[submodule "artifacts/popup-el"]
	path = artifacts/popup-el
	url = https://github.com/kostafey/popup-el
[submodule "artifacts/wrap-region.el"]
	path = artifacts/wrap-region.el
	url = https://github.com/rejeep/wrap-region.el
